<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.antonnazareth.keeper" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/TestTheme"
        android:name="com.example.antonnazareth.keeper.KeeperApp">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MainActFullTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayActivity"
            android:label="@string/title_activity_play"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.antonnazareth.keeper.MainActivity" />
        </activity>
        <activity
            android:name=".AddActivtyActivity"
            android:label="@string/title_activity_add_activty"
            android:parentActivityName=".PlayActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.antonnazareth.keeper.PlayActivity" />
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName=".PlayActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.antonnazareth.keeper.PlayActivity" />
        </activity>
        <activity
            android:name=".MatchActivity"
            android:label="@string/title_activity_match"
            android:theme="@style/MainActFullTheme"
            android:parentActivityName=".GameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.antonnazareth.keeper.GameActivity" />
        </activity>
        <activity
            android:name=".AddUserActivity"
            android:label="Enter User Details"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.antonnazareth.keeper.MainActivity" />
        </activity>
        <activity
            android:name=".LbGameChoiceActivity"
            android:label="@string/title_activity_lb_game_choice"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.antonnazareth.keeper.MainActivity" />
        </activity>
        <activity
            android:name=".LbPlayerChoiceActivity"
            android:label="@string/title_activity_lb_player_choice" >
        </activity>
        <activity
            android:name=".LeaderboardActivity"
            android:label="@string/title_activity_leaderboard"
            android:parentActivityName=".LbPlayerChoiceActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.antonnazareth.keeper.LbPlayerChoiceActivity" />
        </activity>
        <activity
            android:name=".AddTeam"
            android:label="Add New Team" >
        </activity>
        <activity
            android:name=".SelectTeamActivity"
            android:label="Teams" >
        </activity>
        <activity
            android:name=".selectUserActivity"
            android:label="Users" >
        </activity>
        <activity
            android:name=".UserTeamViewActivity"
            android:label="@string/title_activity_user_team_view"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.antonnazareth.keeper.MainActivity" />
        </activity>
        <activity
            android:name=".SingleUserMatchActivity"
            android:label="@string/title_activity_single_user_match"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.antonnazareth.keeper.MainActivity" />
        </activity>
    </application>

</manifest>
